<html>

<head>
    <title>
        <%= title %>
    </title>
</head>

<body>
    <form method="POST" action="/new">
        <label for="auth_name">Author Name</label><br>
        <input type="text" id="auth_name" name="auth_name"><br>
        <label for="message">Message</label><br>
        <input type="text" id="message" name="message">
        <input type="submit" value="Submit">
    </form>
</body>

</html>