<html>

<head>
    <title>
        <%= title %>
    </title>
</head>

<body>
    <%- include("partials/errors.ejs") %>
        <form method="POST" action="/new">
            <label for="author">Author Name</label><br>
            <input type="text" id="author" name="author"><br>
            <label for="message">Message</label><br>
            <input type="text" id="message" name="message">
            <input type="submit" value="Submit">
        </form>
</body>

</html>