<html>

<head>
    <title>
        <%= title %>
    </title>
</head>

<body>
    <% if (messages) { %>
        <% messages.map((message)=> { %>
            <li>
                <%= message.user %>
            </li>
            <li>
                <%= message.text %>
            </li>
            <li>
                <%= message.added %>
            </li>
            <% })} %>
</body>

</html>