<html>

<head>
    <title>
        <%= title %>
    </title>
</head>

<body>
    <%- include('partials/navbar.ejs', {link: {href: "/new" , text: "Create New Message" }}) %>
        <h3>Messages</h3>
        <nav>
            <% if (messages) { %>
                <% messages.map((message)=> { %>
                    <li>
                        <a href="/messages/<%= message.id %>">
                            <span>
                                <%= message.author %>
                            </span>
                        </a>
                    </li>
                    <% })} %>
        </nav>
</body>

</html>