<html>

<body>
    <% if (messages) { %>
        <% messages.map((message)=> { %>
            <li>
                <%= message.author %>
            </li>
            <li>
                <%= message.message %>
            </li>
            <li>
                <%= message.added %>
            </li>
            <% })} %>
</body>

</html>